
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    /* Header styles */
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
    }
    .header-container h1 {
      margin: 0;
      flex-grow: 1;
      text-align: center;
      font-size: 2em;
      color: #333;
    }
    .logo {
      max-height: 80px;
      width: auto;
    }
    h2, h3 {
      color: #333;
    }
    form {
      max-width: 800px;
      margin: auto;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="file"] {
      width: 83%;
      padding: 8px;
      margin-top: 4px;
      box-sizing: border-box;
    }
    .toggle-buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 10px;
    }
    .toggle-button,
    .payment-button {
      padding: 25px;
      font-size: 1.2em;
      border: 1px solid #aaa;
      background-color: #f5f5f5;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .toggle-button.active,
    .payment-button.active {
      background-color: #2196F3;
      color: white;
    }
    .donation-section {
      border: 1px solid #ddd;
      padding: 10px;
      margin-top: 15px;
    }
    #summarySection {
      border: 2px solid #4CAF50;
      padding: 10px;
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
    }
    #submitSection {
      text-align: center;
      margin-top: 20px;
    }
    button[type="submit"] {
      padding: 10px 20px;
      background-color: #2196F3;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
    }
    .collage-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin-top: 10px;
    }
    .collage-grid img {
      width: 100%;
      height: 25em;
      object-fit: cover;
      border: 1px solid #ccc;
      padding: 3px;
    }
    #randomGallery h3 {
      text-align: center;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .input-group {
      display: flex;
    }
    .input-group .form-control {
      flex: 1;
      padding: 8px;
      font-size: 1.1em;
    }
    .input-group .btn {
      padding: 8px 12px;
      font-size: 1.1em;
      cursor: pointer;
      border: 1px solid #aaa;
      background-color: #f5f5f5;
      transition: background-color 0.3s;
    }
    .input-group .btn:hover {
      background-color: #ddd;
    }

    input[type="checkbox"] {
      vertical-align: middle;
      margin-right: 8px;
    }

    label {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 7px;
    }
    /* Style for the form container */
    .form-container {
      display: flex;
      align-items: center; /* Align items vertically centered */
      justify-content: space-between;
    }

    /* Style for the input field */
    .form-control {
      padding: 10px;
      font-size: 1.2em;
      margin-right: 10px; /* Space between input and button */
    }

    /* Style for the link that will act as a button */
    .button-link {
      display: inline-block;
      background-color: #2196F3;
      color: white;
      padding: 8px 8px;
      text-align: center;
      border: none;
      border-radius: 5px;
      text-decoration: none; /* Remove underline from link */
      font-size: 1.2em;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .button-link:hover {
      background-color: #1976D2;
    }
    .arabig {
      direction: rtl;
      text-align: right; /* Aligns text to the right */
      font-size: 2em;
      line-height: 1.8;
    }
